<div class="fondo">
  <div class="items-group">

    <div class="item active">
      <div class="logo">
        <img src="../../../assets/img/logo.png" />
      </div>
      <div class="block" [routerLink]="['/rate']">
        <span class="circleLight"></span>
        <div class="text">
          <h2>¡Hola!<span>&#160;</span></h2>
          <p>Bienvenido a <strong>Rate Cartoon</strong>, aquí podras entretenerte leyendo divertidas historietas, calificarlas y opinar sobre ellas.</p>
          <button type="button" class="btn btn-warning">Entrar</button>
        </div>
      </div>
    </div>
  </div>


</div>